<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Dataset Exploration</title>
</head>
<body>
    <h1>Number of Species:</h1>
    <p id="species_count"></p>

    <h2>Mean Sepal Length by Species:</h2>
    <img src="{{ sepal_plot }}" alt="Sepal length plot"/>

    <h2>Mean Petal Width by Species:</h2>
    <img src="{{ petal_plot }}" alt="Petal width plot"/>

    <!-- Include necessary JavaScript files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#species_count').text('{{ species_count }}');
        });
    </script>
</body>
</html>